.NodeAdder
  content ''
  position absolute
  bottom 50%
  right .4em
  width 3em
  height 3em
  rect
    fill var(--main-color)
    fill-opacity 0

  stroke var(--main-color)
  stroke-linecap round
  stroke-linejoin round
  stroke-width 3px

  cursor copy
