@import '_unset'

:root:not([x_x])
  --main-color #ffffff
  --base-color #333333
  background-color var(--base-color)
  color var(--main-color)

  h1
    font-size 1.8em
    font-weight bold
  em
    color var(--accent-color)

html
  overscroll-behavior none
